@font-face {
  font-family: "Monaco";
  src: url("/fonts/Monaco/Monaco.woff");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

:root {
  --white: #fff;
  --black: #000;
  --gray: #5c5c5c;
  --purple: #ac53f2;
}

body {
  background-color: var(--white);
  color: var(--gray);
}

body,
input,
textarea,
button {
  font: 400 1rem "Raleway", "Roboto", sans-serif;
  color: var(--gray);
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
